/* header styling */
header{
    height: 150px;
    display: flex;
    align-items: center;
}

header > div{
    margin-left: 20px; 
    height: 90%;
    width: auto;
    flex-grow: 1;
}

header > div > a > img{
    height: 100%;
    width: auto;
}

header > nav{
    padding: 40px;
}

header > nav > ul{
    display: flex;
}

header > nav > ul > li{
    padding: 0 20px;
    list-style: none;
}

/* style for camera div */
.cameras{
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    padding-left: 75px;

}
/*styling for the pictures*/
.camera1, .camera2{
    width: 300px;
    height: auto;
}
.camera3{
    width: 420px;
    height: auto;
}
/*style for the text below the cams*/
.text{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
}
/*style for button div*/
.buttons {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    width: 75%;
    height: 30px;
    grid-column-gap: 300px;
    padding-left: 160px;
}
/* colour and font sizes for the whole button element */
button{
    background-color: #C46E3B;
    border-radius: 8px;
    color: white;
    border-color: #C46E3B;
}
/* button hover effect */
button:hover{
    background-color: #ffffff;
    cursor: grab;
    color: #0e0e0e;
}
/* readjusting necessary paddings and margins */
body> img{
    padding-bottom: 50px;
    margin-left: -10px;
}
h1{
    font-size: 75px;
    text-align: center;
}
.pic1{
    width: 1270px;
}
header{
    height: 115px;
}
#logo > img {
    height: 90%;
}

/* footer styling */
footer{
    display: flex;
    background-color: grey;
    align-items: center;
}

footer > div{
    margin: 20px;
}

footer > div:nth-child(1){
    flex-grow: 1;
}

footer > div > a > img{
    height: 100px;
    width: auto;
}

footer > div > form{
    display: flex;
    flex-direction: column;
    align-items: start;
}

footer > div > form > p{
    font-size: 10px;
    font-weight: bold;
}

footer > div > form > input{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: solid 2px #0e0e0e;
    color: #f8f8f8;
    background-color: #525252;
}

footer > div > form > input::placeholder{
    color: #f8f8f8;
}

/* media query for 1440 px */
@media screen and (min-width:1440px){
    .pic1{
        width: 2560px;
    }
    .camera1, .camera2{
        width: 600px;
        height: auto;
    }
    .camera2{
        padding-left: 120px;
    }
    .camera3{
        width: 900px;
        height: auto;
        padding-left: -40px;
    }
    .cameras{
        grid-column-gap: 100px;
    }
    h1{
        font-size: 105px;
        text-align: center;
        padding-left: 1100px;
    }
    .text{
        display: grid;
        grid-template-columns: 20em 20em 20em;
        grid-gap: 130px;
        font-size: 35px;
        text-align: center;
        padding-left: 75px;
    }
    button{
        font-size: 30px;
        width: 200px;
        height: 60px;
    }
    .buttons{
        padding-left: 320px;
        grid-column-gap: 655px;
    }

}
/*media query for 1024px*/
@media screen and (max-width: 1024px){
    .cameras{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 80px;
    }
    .text{
        grid-template-columns: 20em 20em 20em;
        grid-column-gap: 130px;
        padding-left: 35px;
    }
    button{
        font-size: 20px;
        width: 150px;
        height: 40px;

    }
    .buttons{
        grid-column-gap: 275px;
    }
    h1{
        padding-left: 550px;
    }
}
/* media query for 425px */
@media screen and (max-width: 425px){
    .pic1{
        width: 1840px;
    }
    .cameras{
        grid-template-columns: 45em 45em;
    }
    .camera1{
        width: 605px;
    }
    .camera2{
        width: 645px;

    }
    .camera3{
        padding-top: 100px;
        padding-left: 200px;
        width: 1155px;
    }
    .text{
        grid-template-columns: 10em 10em;
        grid-template-rows: 1em 5em;
        font-size: 40px;
    }
    .text1, .text2{
        padding-top: -1000px;
    }
}